<header>
    <div class="header-page">
        <!-- <h1 class="header-word">Управление категориями</h1> -->
        <h1 class="header-word"><%= title %></h1>
    </div>
    <div class="user-status">
        <h1 class="user-header"><%= username %></h1>
        <h2 class="status-header">Вход выполнен</h2>
    </div>
</header>