<nav>
    <a href="/dashboard">Главная</a>
    <a href="/history">История</a>
    <a href="/categories">Категории</a>
    <a href="/account">Аккаунт</a>
    <a href="/statistics">Статистика</a>
</nav>